<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Top News</title>
</head>

<body>

    <h1> Search Top News </h1>

    <form method="GET" action="/search">
        <table>
            <tr>
                <td>Query</td>
                <td>
                    <input type="text" name="query" size="30">
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <select name="country">
                        <option data-th-each="country : ${countryMap}" 
                                data-th-value="${country.value}"
                                data-th-text="${country.key}"
                                data-th-selected="${country.key == 'United States'}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="category">
                        <option value=""></option> <!-- empty string default option -->
                        <option value="business">Business</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="general">General</option>
                        <option value="health">Health</option>
                        <option value="science">Science</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>